<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ static_path }}css/code_hilighting.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ static_path }}css/simple.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ static_path }}css/pages.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ static_path }}css/mytheme.css" type="text/css" media="screen" charset="utf-8">

    <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>


</head>
<body>
{% block body %}{% endblock %}

{% block footer %}{% endblock %}
</body>
</html>